#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
# This file is a .ucf for Audio CS4344 Expansion Module on Elbert V2                        #
# To use it in your project :                                                               #
# * Remove or comment the lines corresponding to unused pins                                #
# * Rename the used signals according to the your project                                   #
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#

   # Clock 12 MHz
       NET "Clk"        LOC = P129  | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;
	   	
####################################################################################################################################################
#                                            Audio CS4344 Expansion Module                                                                         #
####################################################################################################################################################		
####################################################################################################################################################
#                                       Expansion Connector's HEADER P1 LOWER IOs	                                                               #
####################################################################################################################################################
    NET "SDIN"          LOC = P32    | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;
    NET "SCLK"          LOC = P30    | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;
    NET "LRCK"          LOC = P29    | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;
    NET "MCLK"          LOC = P25    | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;