#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
# This file is a .ucf for Audio CS4344 Expansion Module on Saturn Expansion Connector      #
# To use it in your project :                                                               #
# * Remove or comment the lines corresponding to unused pins                                #
# * Rename the used signals according to the your project                                   #
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#

  
   # Clock 100 MHz
      NET "Clk"            LOC = V10 | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
	  
#**************************************************************************************************************************************************#
#                                            When Saturn Expansion Connector LED is OFF                                                            #
#**************************************************************************************************************************************************#	
####################################################################################################################################################
#                                            Audio CS4344 Expansion Module                                                                         #
####################################################################################################################################################		
####################################################################################################################################################
#                                            Expansion Connector's HEADER P6 LOWER IOs	                                                           #
####################################################################################################################################################
     NET "SDIN" LOC = P16  | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;
     NET "SCLK" LOC = U18  | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;
     NET "LRCK" LOC = V16  | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;
     NET "MCLK" LOC = N9   | IOSTANDARD = LVCMOS33  | DRIVE = 8  | SLEW = FAST;
	 
