//---------------------------------------------------------------------------
//
// Name:        saturnflashconfigApp.rc
// Author:      
// Created:     10/6/2013 12:09:49 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
