CONFIG VCCAUX = "3.3" ;
##################################################################### 
# 									Clock 12 MHz									  #
#####################################################################
NET "clk"      LOC = P129  | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;
##################################################################### 
# 									Reset & uart_tx   							  #
#####################################################################  
NET "reset"    LOC = P125  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 | PULLDOWN;
NET "tx"       LOC = P130  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12 ;   

