#####################################################################
#                          Clock 100 MHz                            #
#####################################################################
CONFIG VCCAUX = "3.3" ;
NET "clk"                  LOC = V10     | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz ;

#####################################################################
#                          Reset		                            #
#####################################################################
NET  "reset"              LOC = L15     | IOSTANDARD = LVCMOS33 | PULLDOWN;

#####################################################################
#                          Uart			                            #
#####################################################################
NET "tx"                  LOC = B8      |  IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ; 

