NET clk       LOC = P129 | IOSTANDARD = LVCMOS33;

NET rst_n     LOC = P75 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

NET D_EN      LOC = P32 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET D_CLK     LOC = P8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET H_Sync    LOC = P30 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET V_Sync    LOC = P31 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET Red[0]    LOC = P134  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[1]    LOC = P135  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[2]    LOC = P138  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[3]    LOC = P139  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[4]    LOC = P141  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[5]    LOC = P143  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[6]    LOC = P4    | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[7]    LOC = P6    | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET Green[0]  LOC = P5    | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[1]  LOC = P10   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[2]  LOC = P11   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[3]  LOC = P12   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[4]  LOC = P13   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[5]  LOC = P15   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[6]  LOC = P16   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[7]  LOC = P18   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET Blue[0]   LOC = P20   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[1]   LOC = P19   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[2]   LOC = P21   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[3]   LOC = P24   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[4]   LOC = P25   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[5]   LOC = P27   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[6]   LOC = P29   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[7]   LOC = P28   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;