NET clk       LOC = V10 | IOSTANDARD = LVCMOS33;

NET rst_n     LOC = A2  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;

NET D_EN      LOC = T18 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET D_CLK     LOC = T8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET H_Sync    LOC = V15 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET V_Sync    LOC = T17 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET Red[0]    LOC = V5  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[1]    LOC = U5  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[2]    LOC = V6  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[3]    LOC = T6  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[4]    LOC = P7  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[5]    LOC = N6  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[6]    LOC = U8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Red[7]    LOC = V8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET Green[0]  LOC = N8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[1]  LOC = U13 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[2]  LOC = V13 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[3]  LOC = M10 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[4]  LOC = N9  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[5]  LOC = U16 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[6]  LOC = V16 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Green[7]  LOC = U17 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET Blue[0]   LOC = U18 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[1]   LOC = P15 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[2]   LOC = P16 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[3]   LOC = T12 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[4]   LOC = V12 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[5]   LOC = T14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[6]   LOC = V14 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET Blue[7]   LOC = U15 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;